.Rproj.user
.Rhistory
.RData
.Ruserdata
Google-Backup
.DS_Store
Data/FASTQ_raw/
.RDataTmp*
Scripts/*.html
Lab_books/*.html
Data/*.html
*.html
Data/*.rds
Presentations/*.html
Data/Pipeline_output/Run1/Run1_take1/noprimers/*.fastq*
Data/Pipeline_output/Run1/Run1_take1/noprimers/filtered/*.fastq*
eDNA-Hake.Rproj
writing/Versions
"Scripts/Stan Files/Output files"
References
